{% extends 'profileBase.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}

<div class="container body-form">
    <div class="formHW">
        <form method="post">
            {% csrf_token %}
            <p>{{ analysisForm.gemoglobin.label }}: {{ analysisForm.gemoglobin }}</p> 
            <p>{{ analysisForm.leycocite.label }}: {{ analysisForm.leycocite }}</p>
            <p>{{ analysisForm.eritrocity.label }}: {{ analysisForm.eritrocity }}</p>
            <button type="submit" class="submitAnalysis" name='submitAnalysis'>Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}