{% extends 'base.html' %}

{% block title %}
Вход в личный кабинет
{% endblock %}
{% block content %}
<div class="container body-form">
    {{ login_form.as_p }}
    <div class="row email">
        <div class="col-md-12">
            <p>Эл. почта</p>
            <label>
                
            </label>
        </div>
    </div>
    <div class="row password">
        <div class="col-md-12">
            <p>Пароль</p>
            <label>
                
            </label>
        </div>
    </div>
</div>
{% endblock %}