{% extends 'profileBase.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type='text/css' href='{% static "css/profile.css" %}'>

<div class="container body-form">
    <div class="row tabs">
        <div class="nav">
            <button tag="tablinks" class="nav-item to_profile" name="to_profile" onclick="openTab(event, 'Profile')">Личный кабинет</button>
            <button tag="tablinks" class="nav-item to_questions" name="to_questions" onclick="openTab(event, 'Survey')">Опрос</button>
            <button tag="tablinks" class="nav-item to_rec" name="to_rec" onclick="openTab(event, 'Recommend')">Рекомендации</button>
        </div>
    </div>
    <!-- vvv Вкладка личного кабинета vvv -->
    <div id="Profile" class="tabcontent"> 
        <div class="row geninfo">
            <div class="geninfo_block">
                <div class="row part1">
                    <div class="col-md-6">
                        <p>{{ user.get_full_name }}</p>
                        <!-- vvv поширше в правый бок сделай vvv -->
                        <p>Электронная почта: {{ user.email }}</p> 
                    </div>
                </div>
                <div class="row part2">
                    <!-- vvv через класс формы heightNweight vvv -->
                    <div class="col-md-3">
                        <form method="post">
                            {% csrf_token %}
                            <div class="formHW">
                                <p>{{ formHW.height.label }} {{ formHW.height }}</p>
                                <p>{{ formHW.weight.label }} {{ formHW.weight }}</p>
                                <button hidden type="submit" class="submitHW" name='formHW_submit'>✓</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5">
                        <p>Учебное заведение: {{ user.university }}</p>
                        <!-- vvv поширше в правый бок сделай vvv -->
                        <p>Факультет: {{ user.faculty }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row analysis">
            <div class="analysis_block">
                <p>Анализы</p>
                <div class="row analys1">
                    <div class="col-md-10 analysis_info">
                        <p>ОАК</p>
                    </div>
                    <div class="col-md-10 analysis_info">
                        <p>ТГ</p>
                    </div>
                    <div class="col-md-10 analysis_info">
                        <p>Глюкоза</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- vvv Вкладка опроса vvv -->
    <div id="Survey" class="tabcontent" style="display: none;"> 
        Опрос
    </div>

    <!-- vvv Вкладка рекомендаций vvv -->
    <div id="Recommend" class="tabcontent" style="display: none;"> 
        Рекомендации
    </div>
</div>

{% endblock %}


<!-- второй варик со 2 чатсью общей инфы, тоже ме -->
<!-- <div class="part2">
                <p>Рост:</p>
                <p>Учебное заведение:</p>
            </div>
            <div class="part3">
                <p>Вес :</p>
                <p>Факультет:</p>
            </div> -->