{% extends 'profileBase.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type='text/css' href='{% static "css/profile.css" %}'>

<div class="container body-form">
    <div class="row tabs">
        <div class="nav">
            <button class="nav-item to_profile">Личный кабинет</button>
            <button class="nav-item to_questions">Опрос</button>
            <button class="nav-item to_rec">Рекомендации</button>
        </div>
    </div>
    <div class="row geninfo">
        <div class="geninfo_block">
            <div class="row part1">
                <div class="col-md-6">
                    <p>Иванов Иван Иванович</p>
                    <p>Электронная почта:</p>
                </div>
            </div>
            <div class="row part2">
                <div class="col-md-3">
                    <p>Рост:</p>
                    <p>Вес:</p>
                </div>
                <div class="col-md-5">
                    <p>Учебное заведение:</p>
                    <p>Факультет:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row analysis">
        <div class="analysis_block">
            <p>Анализы</p>
            <div class="row analys1">
                <div class="col-md-10 analysis_info">
                    <p>ОАК</p>
                </div>
                <div class="col-md-10 analysis_info">
                    <p>ТГ</p>
                </div>
                <div class="col-md-10 analysis_info">
                    <p>Глюкоза</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


<!-- второй варик со 2 чатсью общей инфы, тоже ме -->
<!-- <div class="part2">
                <p>Рост:</p>
                <p>Учебное заведение:</p>
            </div>
            <div class="part3">
                <p>Вес :</p>
                <p>Факультет:</p>
            </div> -->