{% extends 'profileBase.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type='text/css' href='{% static "css/profile.css" %}'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<div class="container body-form">
    <div class="row tabs">
        <div class="nav">
            <button tag="tablinks" class="nav-item to_profile" name="to_profile" onclick="openTab(event, 'Profile')">Личный кабинет</button>
            <button tag="tablinks" class="nav-item to_questions" name="to_questions" onclick="openTab(event, 'Survey')">Опрос</button>
            <button tag="tablinks" class="nav-item to_rec" name="to_rec" onclick="openTab(event, 'Recommend')">Рекомендации</button>
        </div>
    </div>
    <!-- vvv Вкладка личного кабинета vvv -->
    <div id="Profile" class="tabcontent"> 
        <div class="row geninfo">
            <div class="geninfo_block">
                <div class="row part1">
                    <div class="col-md-12">
                        <p>{{ user.get_full_name }}</p>
                        <p>Электронная почта: {{ user.email }}</p> 
                    </div>
                </div>
                <div class="row part2">
                    <!-- vvv через класс формы heightNweight vvv -->
                    <div class="col-md-5">
                        <form method="post">
                            {% csrf_token %}
                            <div class="formHW">
                                <p>{{ formHW.height.label }} {{ formHW.height }} см</p> 
                                <p>{{ formHW.weight.label }} {{ formHW.weight }} кг</p>
                                <button hidden type="submit" class="submitHW" name='formHW_submit'>✓</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7">
                        <p>Учебное заведение: {{ user.university }}</p>
                        <p>Факультет: {{ user.faculty }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row analysis">
            <div class="analysis_block">
                <p>Анализы</p>
                <div class="row analys1">
                    {% for anal in Analysis %}
                    {% if anal %}
                    <div class="col-md-10 analysis_info">
                        <form method="post">
                            {% csrf_token %}
                            <p>{{ anal.type }}</p>
                            <a href="#" tag="add_new_values" onclick="showModalWin('{{ anal.id }}')">{{ anal.time }}</a>
                            <button type="submit" tag="add_new_parameters" name='add_new_parameters' >
                                +
                            </button>
                            <div class="popup" id="popup{{ anal.id }}">
                                <!-- Модалка для вывода параметров анализа -->
                                Здесь должны будут быть все параметры анализа без возможности изменения
                                <!-- {% for parameter in anal.parameters %}
                                    {{ parameter.name }}: {{ parameter.result }}
                                {% endfor %} -->
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-md-10 analysis_info">
                        Нет заполненных анализов!
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- <div class="col-md-10 analysis_info">
                        <p>ОАК</p>
                    </div>
                    <div class="col-md-10 analysis_info">
                        <p>ТГ</p>
                        <button tag="add_new_parameters">
                            +
                        </button>
                    </div>
                    <div class="col-md-10 analysis_info">
                        <p>Глюкоза</p>
                        <button tag="add_new_parameters">
                            +
                        </button>
                    </div> -->
                    <center>
                        <button tag="add_new_analysis">
                            +
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- vvv Вкладка опроса vvv -->
    <div id="Survey" class="tabcontent" style="display: none;"> 
        Опрос
    </div>

    <!-- vvv Вкладка рекомендаций vvv -->
    <div id="Recommend" class="tabcontent" style="display: none;"> 
        Рекомендации
    </div>
</div>

{% endblock %}