{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type='text/css' href='{% static "css/registration.css" %}'>

<div class="container body-form">
    <div class="row explanation">
        <div class="col-md-12">
            <div class="explanationtext1">
                <p>Укажите информацию о себе</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="explanationtext2">
                <p>Перед началом опроса, пожалуйста, заполните информацию о себе</p>
            </div>
        </div>
    </div>
    <form method="post">
    {% csrf_token %}
    <div class="row fields">
        <div class="form-group">
            <p>
                <label> {{ regForm.surname.label }}</label>
                {{ regForm.surname }}
            </p>
            <p>
                <label>{{ regForm.name.label }}</label>
                {{ regForm.name }}
            </p>
            <p>
                <label>{{ regForm.lastname.label }}</label>
                {{ regForm.lastname }}
            </p>
            <p>
                <label>{{ regForm.gender.label }}</label>
                {{ regForm.gender }}
            </p>
            <p>
                <label>{{ regForm.birth_date.label }}</label>
                <input type="date" name="birth_date" required id="id_birth_date"></input>
                <!-- {{ regForm.birth_date }} -->
            </p>
            <p>
                <label>{{ regForm.email.label }}</label>
                {{ regForm.email }}
            </p>
            <p>
                <label>{{ regForm.phone.label }}</label>
                {{ regForm.phone }}
            </p>
            <p>
                <label>{{ regForm.password1.label }}</label>
                {{ regForm.password1 }}
            </p>
            <p>
                <label>{{ regForm.password2.label }}</label>
                {{ regForm.password2 }}
            </p>
        </div>
    </div>
    <div class="row navbutton">
        <button type="button" class="back" name='back_button' onClick="history.back()">Назад</button>
        <button type="submit" class="next" name='next_button'>Далее</button>

    </div>
    </form>
</div>
{% endblock %}