* {
    box-sizing: border-box;
}

body {
    min-height: 130vh;
}

.tabs {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.nav-item {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    background-color: #c4c4c4;
}

.geninfo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.geninfo_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 1120px;
    font-size: 36px;
    background-color: #ebebeb;
}

.geninfo_block p {
    margin-left: 8%;
}

.part2 p{
    margin-left: 20%;
}

/* .part2 p, .part3 p{
    display: inline-block;
    margin-left: 6%;
} */

.analysis {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 36px;
}

.analysis_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1120px;
    background-color: #ebebeb;
}

.analysis_block p {
    margin-left: 5%;
}

.analys1{
    display: flex;
    justify-content: center;
}

.analys1 p{
    display: inline;
    margin-left: 2%;
}

.analysis_info{
    padding: 5px 0px 5px 0px;
    background-color: #c4c4c4;
    margin-bottom: 35px;
    border-radius: 10px;
}

/* Style the tab content */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.formHW input{
    width: 45% ;
    height: 50%;
    background-color: #c4c4c4;
    border-radius: 10px;
    border: none;
}
.submitHW {
    border-radius: 0.5;
    
}

.popup{
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: solid;
    width: 45%;
    margin: 0 auto;
    padding: 3% 10% 3% 10%;
    z-index:2; /* поверх всех */
    display: none;  /* сначала невидим */
    animation: fadeEffect 1s;
    overflow-y: scroll; /* Скроллинг */
    background-color: #FFFFFF;     
    max-height: 90%;   
}

#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.5; /*прозрачность*/
    left:0;
    top:0;
    animation: fadeEffectShadow 0.75s;
}
@keyframes fadeEffectShadow {
    from {opacity: 0;}
    to {opacity: 0.5;}
}

.analysis_info button { 
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    width: 100px;
    height: 50px; 
    background: #ABABAB;
    border: 1px solid black;
    border-radius: 10px;
}


.analysis_info button:hover{
    background: #757575;
}

.analysis_info button:active{
    background: #333333;
    color: #C4C4C4;
}


a{
    color: black;
}

.survey_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 1120px;
    font-size: 36px;
    background-color: #ebebeb;
    margin: 5%;
}